/* LOGO */
.Logo {
    position: absolute;
    top: 27px;
    left: 15px;
}

.Logo:hover {
    cursor: pointer;
}

/* DEKSTOP NAVIGATION */

.Navigation {
    font-family: inter;
    padding: 15px;
    display: flex;
    letter-spacing: 0.1em;
    font-size: 14px;
    width: 95%;
    border-bottom: 1px solid #f0f0ff;
}

.Navigation a{
    margin-right: 25px;
    font-weight: bold;
    color: #74777d;
    text-decoration: none;
}

.Navigation div{
    margin-left: auto;
}

.Hamburger{
    display: none;
}

/* MOBILE NAVIGATION */

.MobileNavigation {
    display: none;
}

@media (max-width: 700px) {
    .Logo {
        transform: scale(1.5);
        left: 40px;
    }

    .Navigation {
        display: none;
    }

    .Hamburger{
        display:flex;
        position:absolute;
        top: 3%;
        right: 5%;
        cursor: pointer;
    }

    .MobileNavigation{
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 15px;
        top: 65px;
    }

    .MobileNavigation div{
        text-align: center;
        background: white;
        width: 90vw;
        height: 100vh;
        border-radius: 16px;
    }

    /* LINKS */

    .MobileNavigation a {
        font-family: inter;
        text-decoration: none;
        box-sizing: border-box;
        padding: 20px;
        height: 70px;
        display: flex;
        background: #F5F5F7;
        letter-spacing: 0.1em;
        font-size: 18px;
        font-weight: bold;
        color: black;
        margin-top: 17px;
        margin-left: 21px;
        border-radius: 16px;
        width: 90%;
        align-items: center;
    }

    .MobileNavigation a:nth-child(1) {
        border-right: 8px solid #FEEE85;
        flex-direction: row;
        align-items: center;
    }
    .MobileNavigation a:nth-child(2) {
        border-right: 8px solid #FAB4FF;
    }
    .MobileNavigation a:nth-child(3) {
        border-right: 8px solid #BEFAE1;
    }
    .MobileNavigation a:nth-child(4) {
        border-right: 8px solid #57BEE6;
    }
    .MobileNavigation a img {
        margin-right: 15px;
    }

    .MobileNavigation a:hover {
        background: #EFEFEF
    }

    .MobileNavigation button {
        position: relative;
        top: 25%;
        width: 90%;
        height: 50px;
    }
}