/* COMMON */

.dashboard {
  margin-left: auto;
  margin-right: auto;

  min-width: 1100px;
  min-height: 700px;
}
.Title {
  position: relative;
  margin-left: 50px;
  top: 45px;
  letter-spacing: -0.02em;
  font-size: large;
  font-weight: normal;
  line-height: 44px;
}
.Logo:hover {
  cursor: pointer;
}
.Navigation {
  position: relative;
  margin-top: -15px;
  display: flex;
  font-size: 16px;
  width: 95%;
}
.Navigation a {
  margin-right: 25px;
  padding: 5px;
  text-decoration: none;
}
.Navigation div {
  margin-left: auto;
}

.Navigation button {
  all: unset;
  width: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  align-items: center;
  text-align: center;
  padding: 9px;
  /* will show what button they are  */
}
.Navigation button:hover {
  cursor: pointer;
}

/* LIGHT MODE */
.light .dashboard {
  background-color: white;
  color: black;
}
.light .Navigation {
  color: #ffffff;
}
.light .Navigation button {
  color: #757b83;
}
/* DARK MODE */
.dark .dashboard {
  background-color: black;
  color: white;
}
.dark .Navigation {
  color: black;
}
.dark .Navigation button {
  color: #757b83;
}
