.footer {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.logo {
  margin-left: 63px;
  flex: auto;
}

.logo:hover {
  cursor: pointer;
}

.syvita {
  margin-left: 75px;
  margin-right: 205px;
  font-family: Roobert;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  color: #000000;
}

.syvita a {
  color: #000000;
}

.syvita a:hover {
  color: #9146ff;
}

.links {
  flex: auto;
  margin-right: 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
}

.links a {
  padding: 0 24px;
  color: #000000;
  text-decoration: none;
}

.links a:hover {
  color: #9146ff;
}

@media (max-width: 1172px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .links {
    margin: 0;
  }

  .links a {
    padding: 0 12px;
  }
  .syvita {
    order: 3;
    margin: 0;
  }
}
