@import url("https://x.syvita.org/fonts/roobert/importme.css");
@import url("https://x.syvita.org/fonts/inter/importme.css");

html {
  background-image: url(/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: roobert;
  margin: auto;
  min-width: 350px;
  max-width: 2000px;
}

button {
  text-transform: uppercase;
  padding: 14px 26px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
  background: #9146ff;
  border-radius: 10px;
  width: auto;
  display: inline-block;
  border: none;
}

button:hover {
  background: rgba(145, 70, 255, 0.8);
  cursor: pointer;
}
