@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

body {
  background: white;
  color: black;
  font-family: roobert;
}
a {
  color: #74777D;
  text-decoration: none;
}
nav {
  font-family: inter;
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F0F0FF;
  letter-spacing: 0.1em;
  font-size: 14px;
}
nav a {
  margin-right: 25px;
  font-weight: bold;
}
nav .logo {
  margin-right: auto;
  color: black;
}
nav .logo a {
  font-size: 20px;
  margin-right: auto;
  letter-spacing: normal;
  font-weight: normal;
  color: black;
}

button {
  padding: 14px 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
  background: #9146FF;
  border-radius: 10px;
  width: 90px;
  border: none;
}

button:hover {
  background: rgba(145, 70, 255, 0.8);
  cursor: pointer;
}