@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

/* COMMON */
.heading {
  text-align: center;
}

.heading h1 {
  position: relative;
  font-family: Roobert;
  font-weight: 400;
  font-size: 72px;
  letter-spacing: -0.02em;
  margin-top: 315px;
  margin-bottom: 339px;
}
.heading h1 span {
  color: #9146ff;
}
.custodial {
  position: relative;
  display: flex;
  width: 60%;
  margin-left: 3%;
  margin-right: 3%;
  letter-spacing: -0.02em;
}

.custodial p {
  position: relative;
  font-family: Roobert;
  font-weight: 400;
  line-height: 72px;
  font-size: 64px;
  letter-spacing: -0.02em;
}

.subheading1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 65px;
}

.two {
  position: relative;
  margin-left: 3%;
  width: 70%;
  text-align: left;
}

.two p {
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
}

.two span {
  font-style: italic;
}

.three {
  position: relative;
  margin-left: 30%;
  margin-right: 3%;
  text-align: left;
}

.three h2 {
  font-family: Roobert;
  font-size: 64px;
}

.built {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.strength {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 20px;
}

.quote {
  font-size: 32px;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -2%;
}

.quoteAuthor {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.banner {
  height: 40px;
  position: relative;
  overflow: hidden;
  font-family: Roobert;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  width: 100%;
}

.banner .bannerone {
  animation: bannermove 40s linear infinite;
}

.banner .bannertwo {
  animation: bannermove 40s linear 10s infinite;
}

.banner .bannerthree {
  animation: bannermove 40s linear 20s infinite;
}

.banner .bannerfour {
  animation: bannermove 40s linear 30s infinite;
}

.banner div {
  position: absolute;
  width: 100%;
  right: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.banner:hover div {
  animation-play-state: paused;
}

@keyframes bannermove {
  0% {
    right: 100%;
  }
  50% {
    right: -100%;
  }
  100% {
    right: -100%;
  }
}

.four {
  width: 40%;
  position: relative;
  margin-left: 64px;
}

.nokyc {
  font-family: Roobert;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: -2%;
  margin-top: 119px;
  margin-bottom: 64px;
  margin-left: 3%;
  position: relative;
}

.private {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.wallet {
  font-family: Roobert;
  font-size: 32px;
  line-height: 44px;
}

.ridiculous {
  font-family: Roobert;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.01em;
  text-align: center;
  margin-top: 64px;
  position: relative;
}

.securityFeatures {
  font-family: Roobert;
  font-size: 24px;
  line-height: 36px;
  color: #74777d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 121px;
  position: relative;
}

.getStarted {
  text-align: center;
}
.getStarted p {
  font-family: Roobert;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.02em;
}

.joinButton {
  text-transform: uppercase;
  width: 27%;
  height: 13%;
  margin-bottom: 165px;
}

@media (max-width: 1210px) {
  .custodial {
    display: flex;
    width: 70%;
    margin-left: 15px;
    margin-right: 5px;
    letter-spacing: -0.02em;
  }

  .custodial p {
    font-family: Roobert;
    font-weight: 400;
    line-height: 72px;
    font-size: 50px;
    letter-spacing: -0.02em;
  }

  .four {
    width: 60%;
    margin-left: 64px;
  }
  .securityFeatures {
    font-family: Roobert;
    font-size: 24px;
    line-height: 36px;
    color: #74777d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 65px;
  }
}

/* LIGHT MODE */

.light {
  background: white;
  color: black;
  transition: 0.5s;
}

.light .shape:nth-of-type(1) {
  width: 637.96px;
  height: 539.24px;
  position: absolute;
  left: -5%;
  top: 20%;
  background: #befae1;
  animation: wave 8s ease-in-out infinite;
}

.light .shape:nth-of-type(2) {
  width: 700px;
  height: 700px;
  background: #f0f0ff;
  position: absolute;
  top: 80%;
  left: 0%;
  animation: wave 5s ease-in-out infinite;
}

.light .shape:nth-of-type(3) {
  width: 500px;
  height: 500px;
  background: #feee85;
  position: absolute;
  top: 35%;
  right: 15%;
  animation: wave 12s ease-in-out infinite;
}

.light .shape:nth-of-type(4) {
  width: 450px;
  height: 350px;
  background: #facdcd;
  position: absolute;
  top: 75%;
  right: -5%;
  animation: wave 6s ease-in-out infinite;
}

.light .shape:nth-of-type(5) {
  width: 350px;
  height: 350px;
  background: #bfabff;
  position: absolute;
  top: 115%;
  right: 25%;
  animation: wave 15s ease-in-out infinite;
}

.light .shape:nth-of-type(6) {
  width: 900px;
  height: 900px;
  background: #00c8af;
  position: absolute;
  top: 230%;
  left: -25%;
  transform: rotate(90deg);
  animation: wave 15s ease-in-out infinite;
}

.light .shape:nth-of-type(7) {
  width: 700px;
  height: 700px;
  background: #facdcd;
  position: absolute;
  top: 230%;
  left: 25%;
  animation: wave 5s ease-in-out infinite;
}

.light .shape:nth-of-type(8) {
  width: 450px;
  height: 350px;
  background: #fab4ff;
  position: absolute;
  top: 230%;
  left: 45%;
  animation: wave 6s ease-in-out infinite;
}

.light .shape:nth-of-type(9) {
  width: 637.96px;
  height: 539.24px;
  position: absolute;
  top: 255%;
  right: -5%;
  background: #befae1;
  animation: wave 8s ease-in-out infinite;
}

.light .shape:nth-of-type(10) {
  width: 350px;
  height: 350px;
  background: #bfabff;
  position: absolute;
  top: 300%;
  right: 15%;
  animation: wave 15s ease-in-out infinite;
}

@keyframes wave {
  0%,
  100% {
    border-radius: 66% 34% 37% 63% / 57% 31% 69% 43%;
  }
  50% {
    border-radius: 26% 74% 51% 49% / 22% 53% 47% 78%;
  }
}

.light .svg {
  background-image: url('../public/syvitaHelmet.svg');
  background-repeat: no-repeat;
  background-position: 0% 45%;
}

/* DARK MODE */

.dark {
  background: black;
  color: white;
  transition: 0.5s;
}
.dark .svg {
  background-image: url('../public/syvitaHelmet.svg');
  background-repeat: no-repeat;
  background-position: 0% 45%;
}
