/* COMMON */

/* LOGO */
.Logo {
    position: absolute;
    top: 27px;
    left: 15px;
}

.Logo:hover {
    cursor: pointer;
}

/* DEKSTOP NAVIGATION */

.Navigation {
    font-family: inter;
    padding: 15px;
    display: flex;
    letter-spacing: 0.1em;
    font-size: 14px;
    width: 95%;
    transition: 0.5s;
}

.Navigation a{
    margin-right: 25px;
    font-weight: bold;
    text-decoration: none;
}

.Navigation a:hover{
    color: #303236;
}

.Navigation div{
    margin-left: auto;
}

.Navigation button {
    width: auto;
    display: inline-block;
}

.Hamburger{
    display: none;
}

/* LIGHT MODE */

.light .Navigation {
    background: white;
    border-bottom: 1px solid #f0f0ff;
}
.light .Navigation a{
    color: #74777D;
}

/* DARK MODE */

.dark .Navigation {
    background: black;
    border-bottom: 1px solid #333333;
}
.dark .Logo {
    filter: invert(1)
}
.dark .Navigation a{
    color: #9A9A9A;
}

/* MOBILE NAVIGATION */

.MobileNavigation {
    display: none;
}

@media (max-width: 700px) {
    /* COMMON */
    .Logo {
        transform: scale(1.5);
        left: 40px;
    }

    .Navigation {
        display: none;
    }

    .Hamburger{
        display:flex;
        justify-content: flex-end;
        position:relative;
        cursor: pointer;
        top: 23px;
        right: 25px;
    }

    .MobileNavigation{
        display: flex;
        position: absolute;
        flex-direction: column;
        right: 15px;
        top: 65px;
    }

    .MobileNavigation div{
        text-align: center;
        width: 90vw;
        height: 100vh;
        border-radius: 16px;
    }

    /* LINKS */

    .MobileNavigation a {
        font-family: inter;
        text-decoration: none;
        box-sizing: border-box;
        padding: 20px;
        height: 70px;
        display: flex;
        letter-spacing: 0.1em;
        font-size: 18px;
        font-weight: bold;
        margin-top: 17px;
        margin-left: 21px;
        border-radius: 16px;
        width: 90%;
        align-items: center;
    }

    .MobileNavigation a:nth-child(1) {
        flex-direction: row;
        align-items: center;
    }

    .MobileNavigation a img {
        margin-right: 15px;
    }

    .MobileNavigation a:hover {
        background: #EFEFEF
    }

    .MobileNavigation button {
        position: relative;
        top: 25%;
        width: 90%;
        height: 50px;
    }

    /* LIGHT MODE */
    .light .MobileNavigation div{
        background: white;
    }
    .light .MobileNavigation a {
        background: #F5F5F7;
        color: black;
    }
    .light .MobileNavigation a:nth-child(1) {
        border-right: 8px solid #FEEE85;
    }
    .light .MobileNavigation a:nth-child(2) {
        border-right: 8px solid #FAB4FF;
    }
    .light .MobileNavigation a:nth-child(3) {
        border-right: 8px solid #BEFAE1;
    }
    .light .MobileNavigation a:nth-child(4) {
        border-right: 8px solid #57BEE6;
    }

    /* DARK MODE */
    .dark .MobileNavigation {
        background-color: black;
    }
    .dark .MobileNavigation div{
        background: black;
    }
    .dark .MobileNavigation a {
        background: #171717;
        color: white;
    }
    .dark .MobileNavigation a:nth-child(1) {
        border-right: 8px solid #FAFA19;
    }
    .dark .MobileNavigation a:nth-child(2) {
        border-right: 8px solid #FA1ED2;
    }
    .dark .MobileNavigation a:nth-child(3) {
        border-right: 8px solid #69FFC3;
    }
    .dark .MobileNavigation a:nth-child(4) {
        border-right: 8px solid #1E69FF;
    }
    .dark .MobileNavigation a img {
        filter: invert(1)
    }
    .dark .Hamburger {
        filter: invert(1)
    }
}