.popup {
  position: absolute;
  right: 33vw;
  top: 30vh;
}

.popupInner {
  padding: 32px;
  width: 100%;
  background-color: black;
  border-radius: 12px;
}

.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
}

.title {
  width: 100%;
  border-bottom: solid 1px white;
}
