/* COMMON */

.summary {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
}

.contribution {
  display: flex;
  align-items: center;
  width: 50vw;
  border-radius: 16px;
}

.contribution p {
  margin-left: 20px;
}

.blocks {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;

  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.blocks div {
  margin-right: 5vw;
  border-style: solid;
  border-radius: 17px;
  padding: 15px;
  min-width: 11.25vw;
}

.blocks div:nth-child(3) {
  margin-right: 0px;
}

.stats {
  font-family: Inter;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;

  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.stats div {
  margin-right: 5vw;
  border-style: solid;
  border-radius: 17px;
  padding: 15px;
  min-width: 11.25vw;
}

.stats div:nth-child(3) {
  margin-right: 0px;
}
.graphs {
  margin-left: 5vw;
}

/* LIGHT */
.light .contribution {
  color: black;
  background: white;
}

/* DARK */
.dark .contribution {
  color: white;
  background: #171717;
}

.dark .blocks div:nth-child(1) {
  border-image: linear-gradient(180deg, #9146ff 0%, #fa1ed2 100%) 1;
}
.dark .blocks div:nth-child(2) {
  border-image: linear-gradient(180deg, #fafa19 0%, #00fafa 100%) 1;
}
.dark .blocks div:nth-child(3) {
  border-image: linear-gradient(180deg, #fa1ed2 0%, #fafa19 100%) 1;
}

.dark .stats div:nth-child(1) {
  border-image: linear-gradient(180deg, #69ffc3 0%, #00fa05 100%) 1;
}
.dark .stats div:nth-child(2) {
  border-image: linear-gradient(180deg, #fa2828 0%, #fa1ed2 100%) 1;
}
.dark .stats div:nth-child(3) {
  border-image: linear-gradient(180deg, #00fafa 0%, #9146ff 100%) 1;
}
